.social-icons {
  color: #313437;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  display: block;
}

@media (min-width: 992px) {
  .social-icons {
    color: #313437;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    display: none;
  }
}

.social-icons i {
  font-size: 22px;
  display: inline-block;
  color: #ffffff;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #c8ced7;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  background-color: #333;
}

.popular-articles .material-icons a:focus, a:hover {
  color: var(--blue);
  text-decoration: none;
}

