/* Work with us */

.work-with-us {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  font-size: 18px;
  font-family: 'Poppins';
  text-align: center;
}

@media (min-width: 992px) {
  .work-with-us {
    width: 85%;
    margin: 0 auto;
    padding: 35px;
    font-size: 18px;
    font-family: 'Poppins';
    text-align: left;
  }
}

.work-with-us h2 {
  font-size: 32px;
  font-family: 'Jost';
}

@media (min-width: 992px) {
  .work-with-us h2 {
    font-size: 52px;
  }
}

.grid-div-main {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

/* NAV */

@media only screen and (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a {
    font-family: 'Changa', sans-serif;
    color: rgba(0,0,0,0.75);
    font-size: 15px;
    font-weight: 500;
  }
}

#mainNav .navbar-nav > li.nav-item > a {
  font-family: 'Changa', sans-serif;
  color: rgba(0,0,0,0.5);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 25px;
}

@media only screen and (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgb(151,67,255);
    background-color: #fff;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #000000;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.dropdown-item {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.navbar-light .navbar-toggler {
  color: #2cdd9b;
  border-color: rgba(0,0,0,0);
}

#mainNav {
  padding: 8px 16px;
}

@media (min-width: 992px) {
  #mainNav {
    padding: 5px 25px;
  }
}

/* Top-Desktop-element */

.desktop-logo-element {
  display: none;
  width: 80%;
  margin: 0 auto;
  margin-top: 9rem;
  margin-bottom: 5rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

@media (min-width: 992px) {
  .desktop-logo-element {
    display: block;
  }
}

